<%= form_for(@truck) do |f| %>
<%= render 'shared/errors', object: @truck %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name, autofocus: true %>
	</p>
	<p>
		<%= f.label :cuisine_type %>
		<%= f.text_field :cuisine_type %>
	</p>
	<p>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</p>
<!-- 	<p>
		<%#= f.label :longitude %>
		<%#= f.number_field :longitude %>
	</p>
	<p>
		<%#= f.label :latitude %>
		<%#= f.number_field :latitude %>
	</p> -->
	<p>
		<%= f.label :image %>
		<%= f.file_field :image %>
	</p>
	<p>
		<%= image_for(@truck) %>
	</p>
	<p>
		<%= f.submit %>
		<%= link_to "Cancel", trucks_path %>
	</p>
<% end %>