<article>
  <header>
    <%= image_for(@truck) %>
    <h1><%= @truck.name %></h1>
  </header>
  <h2>Cuisine Type:</h2>

  <p>
    <%= @truck.cuisine_type %>
  </p>
  <h3>Current Address</h3>

  <!-- if there's an address, it fetches partial, else it displays a message -->
  <%= address_status(@truck) %>

  <h3><%= link_to pluralize(@truck.reviews.count, "Review"), truck_reviews_path(@truck) %></h3>

  <% if current_user %>
    <h4>Add yours below:</h4>
    <%= render 'reviews/form' %>
  <% end %>
  <hr>

  <h3><%= pluralize(@fans.size, "Fan") %></h3>
  <% if current_user %>
    <!-- checks to see if person is already a fan-->
    <% if @current_fan %>
      <!-- since the follows routes are nested in truck routes, you need 2 ids, the truck and the current user -->
      <%= button_to "Unfollow", truck_follow_path(@truck, @current_fan), method: :delete %>
    <% else %>
      <%= button_to "Follow", truck_follows_path(@truck) %>
    <% end %>
  <% end %>

  <% if @fans.any? %>
    <h3><%= pluralize(@fans.size,"Fan") %></h3>
    <ul>
      <% @fans.each do |user| %>
        <li>
          <%= profile_image_for(user, size: 35) %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <hr>
  <ol id="reviews">
    <% @reviews.each do |review| %>
      <li>
        <%= profile_image_for(review.user, size: 35) %>
        by <%= link_to review.user.name, review.user %>
        <span class="review"><%= pluralize(review.stars, 'star') %></span>
        <!-- <span class="user">by <%#= review.name %></span> -->
        <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
        <p>
          &quot;<%= review.comment %>&quot;
        </p>
      </li>
    <% end %>
  </ol>

  <% if @truck.reviews.any? %>
    <p>
      Read all <%= link_to pluralize(@truck.reviews.size, "review"),
                      truck_reviews_path(@truck) %>
    </p>
  <% end %>
</article>

<%= link_to "Write a Review", new_truck_review_path(@truck) %>
<%= link_to "All Trucks", trucks_path %> |
<% if current_user_admin? %>
  <%= link_to "Edit", edit_truck_path %> |
  <%= link_to "Delete", truck_path(@truck), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>



