<header id="content-header">
	<h1>Reviews for <%= link_to @truck.name, @truck %></h1>
</header>

<ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= profile_image_for(review.user, size: 35) %>
      by <%= link_to review.user.name, review.user %>
      <span class="review"><%= pluralize(review.stars, 'star') %></span>
      <!-- <span class="user">by <%#= review.name %></span> -->
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
    </li>
  <% end %>
</ol>